<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mode.value" class="side-nav">
        <button mat-icon-button (click)="sidenav.toggle()" class="icon">
            <mat-icon color="primary">close</mat-icon>
        </button>
        <nav>
            <ul fxLayout="column">
                <a routerLink="/" routerLinkActive="active" (click)="sidenav.toggle()" class="nav-link">Home</a>
                <a routerLink="/now-playing" routerLinkActive="active" (click)="sidenav.toggle()" class="nav-link">Now Playing</a>
                <a routerLink="/popular" routerLinkActive="active" (click)="sidenav.toggle()" class="nav-link">Popular</a>
                <a routerLink="/top-rated" routerLinkActive="active" (click)="sidenav.toggle()" class="nav-link">Top Rated</a>
            </ul>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (onNavClick)="sidenav.toggle()"></app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
