@import './styles/colors.scss';
@import './styles/breakpoints.scss';

.icon {
    border: none;
    margin: 8px;
    background: transparent;
    cursor: pointer;
}

.nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 16px 0;
    &:hover {
        background: $primary-color;
    }
}

.side-nav {
    width: 50%;
    @media (min-width: $gt-sm) { 
        width: 25%;
    }
}