<mat-form-field>
    <mat-label>Sort Movies By:</mat-label>
    <mat-select [value]="sortOptions[0]">
        <mat-option *ngFor="let sortOption of sortOptions" (click)="sortMovies(sortOption)" [value]="sortOption">
            {{sortOption}}
        </mat-option>
    </mat-select>
</mat-form-field>
<ng-container *ngIf="movies$ | async as movies">
   <div *ngFor="let movie of movies">
        <mat-card *ngFor="let details of movie?.results">
            <mat-card-content>
                <mat-card-title>{{details.title}}</mat-card-title>
                <img src="{{baseImgUrl}}{{details.poster_path}}">
            </mat-card-content>
        </mat-card>
   </div>
</ng-container>