<ng-container *ngIf="movies$ | async as movies">
   <section *ngFor="let movie of movies; let i = index">
       <div fxLayout="row" fxLayoutAlign="space-between" class="sort-container">
            <h1>{{ movie.type }}</h1>
            <mat-form-field fxHide="{{i > 0}}" class="margin-top-8">
                <mat-label>Sort Movies By:</mat-label>
                <mat-select [value]="sortOptions[0]">
                    <mat-option *ngFor="let sortOption of sortOptions" (click)="sortMovies(sortOption)" [value]="sortOption" class="sort-option">
                        {{ sortOption }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <movie-card [movie]="movie"></movie-card>
    </section>
</ng-container>